:root {
  --main-color: #000;
  --second-color: #fff;
  --transparent-color: rgba(44, 175, 15, 0.7);
  --section-padding: 50px;
  --section-background: #f6f6f6;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-inline: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* =========== start header ================= */

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  background-color: var(--main-color);
  color: var(--second-color);
}
header .logo {
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
}
header ul {
  margin-right: 40px;
}
header ul li {
  display: inline-block;
}
header ul li:not(:last-child) {
  padding-right: 20px;
}

/* =========== end header ================= */

/* =========== start slider ================= */

.slider .img-container {
  position: relative;
}
.slider .img-container i {
  position: absolute;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.slider .img-container i:first-child {
  left: 6%;
}
.slider .img-container i:last-child {
  right: 6%;
}
.slider .img-container img {
  width: 100%;
}

#up-span{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fef133;
  z-index: 10000;
  cursor: pointer;
  >i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    

    color: #000;
    font-size: 20px;
  }
}
/* =========== end slider ===================== */

/* =========== start category ================= */
.category {
  padding-block: 20px
}
.category .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.category .container .box {
  width: 75px;
}
.category .container .box img {
  max-width: 100%;
}

/* =========== end category ================= */

/* =========== start products ================= */

.products {
  padding-block: var(--section-padding);
  /* background-color: var(--section-background); */
  background-color: #f7f7fa;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.filter span {
  background-color: #ddd;
  border-radius: 4px;
  padding: 10px 8px;
  font-size: 14px;
  cursor: pointer;
}
.filter span.active {
  background-color: #074377d8;
  color: white;
}

.container .cards {
  /* background-color: red; */
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.container .cards .card {
  color: #404553;
  width: 177px;
  background-color: #e4dbdb5e;
  padding: 12px;
}

.container .cards .card .img-wrapper img {
  max-width: 100%;
}

.container .cards .card .title {
  font-size: 12px;
  padding-block: 8px;
  font-weight: 500;
}
.container .cards .card .price span:first-child {
  font-size: 12px;
}
.container .cards .card .price span:last-child {
  font-weight: bold;
  color: #000;
}
.container .cards .card .addToCart {
  margin-top: 10px;
  display: block;
  background-color: rgb(0, 0, 0);
  padding: 8px 10px;
  cursor: pointer;
}
.container .cards .card .addToCart i {
  color: #fff;
  font-size: 22px;
  text-align: center;
  display: block;
}

/* ============= start markting ================= */
.marketing {
  padding-block: var(--section-padding);
}
.marketing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding-right: 0;
}
.left-box {
  width: 45%;
}
.left-box h1 {
  font-size: 40px;
  padding-bottom: 20px;
}
.left-box p {
  color: #4d6377;
  margin-bottom: 20px;
}
.right-box {
  width: 45%;
  height: 90vh;
}
.right-box img {
  display: block;
  margin-left: auto;
  max-width: 100%;
  height: 100%;
}
.bottom-box {
  background-color: #1c5177;
  color: #fff;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  > img {
    width: 120px;
    height: 90px;
    padding-right: 20px;
  }
  .info p {
    color: #fff;
    font-size: 14px;
    margin-block: 10px;
  }
  .title {
    display: flex;
    justify-content: space-between;
  }
  .title i {
    font-size: 20px;
  }
  .icons i:not(:last-child) {
    color: #ffdd59;
  }
}
@media (max-width: 768px) {
  .marketing .container {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .left-box h1 {
    font-size: 30px;
  }
  .left-box h1,
  .left-box p {
    text-align: center;
  }
  .bottom-box p {
    text-align: left;
  }
  .left-box,
  .right-box {
    width: 100%;
  }
  .right-box img {
    margin-inline: auto;
  }
}

/* ============= end markting ================= */

/* ============= start footer ================= */
footer {
  padding-block: var(--section-padding);
  position: relative;
  background-color: #f7f7fa;
  color: #000;
}
footer .container .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

footer .col p {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
footer ul li {
  padding-bottom: 10px;
  font-size: 14px;
}
footer a:hover {
  color: #bbb;
}
footer .buttom-footer {
  width: fit-content;
  text-align: center;
  .icons ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .icons ul li {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: 100%;
    height: 50px;
    background-color: #fef133;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
  }
  .icons ul li i {
    margin-top: 10px;
    color: #666a75;
    font-size: 25px;
  }
}
/* ============= end footer ================= */
