:root {
  --main-color: #000;
  --second-color: #fff;
  --section-padding: 50px;
  --section-background: #f6f6f6;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-inline: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* =========== start header ================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  background-color: #fef130;
  color: #000;
}
header .logo {
  padding-left: 10px;
  font-weight: bold;
  width: 50px;
  font-size: 20px;
}
header .logo img {
  max-width: 100%;
}
header ul {
  margin-right: 40px;
}
header ul li {
  display: inline-block;
  position: relative;
}
header ul li:nth-child(2) {
  opacity: 0.5;
}
header ul li:hover {
  opacity: 0.5;
}
header ul li:not(:last-child) {
  padding-right: 20px;
}
@media (max-width: 768px) {
  header ul {
    margin-right: 0;
  }
  header ul li {
    padding-right: 15px;
    font-size: 14px;
  }
  header ul li:not(:last-child) {
    padding-right: 8px;
  }
}
/* =========== end header ================= */
/* ==================== start cart ============  */
header .cart {
  padding-right: 15px;
  cursor: pointer;
}
header .cart i {
  position: relative;
  font-size: 25px;
}
header .cart i::after {
  content: "0";
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  left: 18px;
  top: -18px;
}
/* ==================== end cart ============  */

/* =========== start up span ===================== */
#up-span {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fef133;
  z-index: 10;
  cursor: pointer;
  > i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    color: #000;
    font-size: 20px;
  }
}
/* =========== end up span ===================== */

/* =========== start subscribe Section ===================== */
.subscribe {
  margin-top: 46px;
  padding: var(--section-padding);
  background-color: #9145a3;
}
.subscribe h2 {
  color: #f8f7fb;
  text-align: center;
  font-weight: 400;
}
.vibe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
  .vibe {
    position: relative;
    width: 280px;
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
    padding: 20px 25px;
    background-color: #fff;
  }
  .vibe p {
    color: #05003e;
    position: relative;
    font-size: 18px;
  }
  .vibe p:first-child::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: red;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
  }
  .vibe p:nth-child(2) {
    margin-block: 18px;
    font-weight: 500;
    font-size: 18px;
  }
  .vibe a {
    display: inline-block;
    margin-top: 50px;
    background-color: #002f6a;
    padding: 4px 40px;
    color: white;
    border-radius: 4px;
    font-size: 12px;
  }
  .txt-container {
    text-align: left;
    font-size: 12px;
  }
  .txt-container .txt {
    margin-bottom: 10px;
  }
  .txt-container .txt i {
    margin-right: 10px;
    font-size: 18px;
    color: #e0b532;
    
  }
}
.vibe-container .vibe:nth-child(2) {
  padding-top: 64px;
  position: relative;
  min-height: 380px;
  .txt-container{
    margin-top: 40px;
  }
}
.vibe-container .vibe:nth-child(2)::before {
  content: "MOST POPULAR";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  color: #fff;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  background-color: #e1b83c;

}

/* =========== end subscribe Section ===================== */

/* =========== start asked Section ===================== */

.asked {
  padding: var(--section-padding);
}
.asked h2 {
  text-align: center;
  color: #06053e;
  font-weight: bold;
}
.asked .questions {
  margin-top: 30px;
  /* background-color: red; */
  .row {
    padding-block: 10px;
    border-block: 1px solid #ddd;
  }
  .row i {
    color: #002f6a;
    font-weight: bold;
    font-size: 18px;
    margin-right: 8px;
  }
  .row:first-child {
    color: #e0b532;
  }
  .row:nth-child(2) {
    margin-left: 25px;
  }
}

/* =========== end start asked Section ===================== */

/* ============= start footer ================= */
footer {
  padding-block: var(--section-padding);
  position: relative;
  background-color: #f7f7fa;
  color: #000;
}
footer .container .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

footer .col p {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
footer ul li {
  padding-bottom: 10px;
  font-size: 14px;
}
footer a:hover {
  color: #bbb;
}
footer .buttom-footer {
  width: fit-content;
  text-align: center;
  .icons ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .icons ul li {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: 100%;
    height: 50px;
    background-color: #fef133;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
  }
  .icons ul li i {
    margin-top: 10px;
    color: #666a75;
    font-size: 25px;
  }
}
/* ============= end footer ================= */
