:root {
  --main-color: #000;
  --second-color: #fff;
  --section-padding: 50px;
  --section-background: #f6f6f6;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-inline: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* =========== start header ================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  background-color: #fef130;
  color: #000;
}
header .logo {
  padding-left: 10px;
  font-weight: bold;
  width: 50px;
  font-size: 20px;
}
header .logo img {
  max-width: 100%;
}
header ul {
  margin-right: 40px;
}
header ul li {
  display: inline-block;
  position: relative;
}
header ul li:nth-child(3) {
  opacity: 0.5;
}
header ul li:hover {
  opacity: 0.5;
}
header ul li:hover {
  opacity: 0.5;
}
header ul li:not(:last-child) {
  padding-right: 20px;
}
@media (max-width: 768px) {
  header ul {
    margin-right: 0;
  }
  header ul li {
    padding-right: 15px;
    font-size: 14px;
  }
  header ul li:not(:last-child) {
    padding-right: 8px;
  }
}
/* =========== end header ================= */
/* ==================== start cart ============  */
header .cart {
  padding-right: 15px;
  cursor: pointer;
}
header .cart i {
  position: relative;
  font-size: 25px;
}
header .cart i::after {
  content: "0";
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  left: 18px;
  top: -18px;
}
/* ==================== end cart ============  */

/* =========== start up span ===================== */
#up-span {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fef133;
  z-index: 10;
  cursor: pointer;
  > i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    color: #000;
    font-size: 20px;
  }
}
/* =========== end up span ===================== */

/* ============= start markting ================= */
.marketing {
  padding-block: var(--section-padding);
}
.marketing .container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  padding-right: 0;
}
.left-box {
  width: 45%;
}
.left-box > h1 {
  margin-top: 40px;
  font-size: 40px;
  padding-bottom: 20px;
}
.left-box > p {
  color: #4d6377;
  margin-bottom: 20px;
}
.right-box {
  width: 45%;
  height: 90vh;
}
.right-box img {
  display: block;
  margin-left: auto;
  max-width: 100%;
  height: 100%;
}
.float-box {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.float-box .col {
  padding: 25px 15px;
  width: calc(100% / 3);
  color: #f6f6f6d4;
  background-color: #1c5177;
}
.float-box .col:not(:first-child) {
  background-color: #ffdd59;
  color: #000;
}
.float-box .col > p {
  font-size: 14px;
  margin-top: 10px;
}
.float-box .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.float-box .row .info {
  padding-left: 8px;
}
.float-box .row p {
  font-size: 12px;
}
.float-box .row h2 {
  font-size: 14px;
}
.float-box .row i {
  display: inline;
  font-size: 20px;
  border: 1px solid #f6f6f6;
  border-radius: 50%;
  padding: 6px;
}
.float-box .col:not(:first-child) i {
  border: 1px solid #000;
}


@media (max-width: 992px) {
  .float-box {
    gap: 10px;
  }
  .float-box .col {
    width: 100%;
  }
  .float-box {
    position: relative;
  }
}
@media (max-width: 768px) {
  .float-box .col {
    > p {
      text-align: left;
    }
  }
}


@media (max-width: 768px) {
  .marketing .container {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .left-box h1 {
    font-size: 30px;
  }
  .left-box h1,
  .left-box p {
    text-align: center;
  }
  .bottom-box p {
    text-align: left;
  }
  .left-box,
  .right-box {
    width: 100%;
  }
  .right-box img {
    margin-inline: auto;
  }
}

/* ============= end markting ================= */

/* ============= start contactUs Form ================= */
.contactUs {
  padding-block: var(--section-padding);
}

form {
  position: relative;
  max-width: 450px;
  padding: 35px 20px;
  margin-inline: auto;
  color: #333;
  border: 1px solid #000;
  > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -13px;
    background-color: #fff;
    padding-inline: 8px;
    font-weight: bold;
  }
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .row label::after {
    content: "*";
    color: red;
    margin-left: 5px;
  }
  .row span {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: none;
  }
  .row label {
    margin-bottom: 8px;
  }
  .row input {
    padding: 10px;
    outline: none;
  }
  .row input::placeholder {
    color: #ddd;
  }
  .row input[type="submit"] {
    color: #000;
    background-color: #fef133;
    border: none;
    font-weight: bold;
    margin-top: 20px;
  }
  .hide {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

/* ============= end contactUs Form ================= */

/* ============= start footer ================= */
footer {
  padding-block: var(--section-padding);
  position: relative;
  background-color: #f7f7fa;
  color: #000;
}
footer .container .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

footer .col p {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
footer ul li {
  padding-bottom: 10px;
  font-size: 14px;
}
footer a:hover {
  color: #bbb;
}
footer .buttom-footer {
  width: fit-content;
  text-align: center;
  .icons ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .icons ul li {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: 100%;
    height: 50px;
    background-color: #fef133;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
  }
  .icons ul li i {
    margin-top: 10px;
    color: #666a75;
    font-size: 25px;
  }
}
/* ============= end footer ================= */
